# Jupyter Notebook mit den erforderlichen Snippets um eine Viginère Chiffre zu brechen

## Chiffretext einlesen

In [1]:
import string
import pandas as pd

In [7]:
def text_reader(path: str) -> str:
    with open(path, 'r', encoding='utf-8') as file:
        text = file.read()
    
    # Convert to lowercase
    text = text.lower()
    
    # Replace German specific characters
    replacements = {
        'ä': 'ae', 'ö': 'oe', 'ü': 'ue', 'ß': 'ss',
        'á': 'a', 'à': 'a', 'â': 'a', 'é': 'e', 
        'è': 'e', 'ê': 'e', 'ë': 'e', 'í': 'i',
        'ì': 'i', 'î': 'i', 'ï': 'i', 'ó': 'o',
        'ò': 'o', 'ô': 'o', 'ú': 'u', 'ù': 'u',
        'û': 'u', 'ç': 'c'
    }
    
    for old, new in replacements.items():
        text = text.replace(old, new)
    
    # Remove all non-alphabetic characters
    result = ''.join(char for char in text if char in string.ascii_lowercase)
    
    return result

In [8]:
chiffre_text = text_reader('chiffre_text.txt')

## Suche nach der Schlüssellänge

In [3]:
KD = 0.0773 # Friedmansche Charakteristik der deutschen Sprache

In [11]:
def text_teiler(text, splitter):
    teiltexte = []
    
    for i in range(splitter):
        teiltexte.append([])
        
    for i in range(len(text)):
        for j in range(splitter):
            if i % splitter == j:
                teiltexte[j].append(text[i])
                
    df = pd.DataFrame(teiltexte)
    df = df.transpose()
                
    return df

In [12]:
df = text_teiler(chiffre_text, 8)

In [13]:
df

      0  1  2  3  4  5  6     7
0     l  j  s  j  w  f  q     x
1     y  z  r  r  i  w  n     s
2     l  y  n  s  i  n  j     x
3     y  f  f  y  x  g  n     g
4     q  n  t  y  m  j  p     j
...  .. .. .. .. .. .. ..   ...
1663  m  n  s  j  m  w  j     s
1664  i  f  l  j  l  j  s     b
1665  n  q  q  n  h  m  s     n
1666  h  m  y  x  l  j  x     f
1667  l  y  m  f  g  j  s  None

[1668 rows x 8 columns]

In [ ]:
counter = 0

In [9]:
zeile0 = df.iloc[0].to_list()
zeile0

['i', 'm', 'n', 'a', 'm', 'e', 'n', 'g', 'o', 't', 't', 'e', 's', 'd', 'e']

In [11]:
zeile0_count = {letter: 0 for letter in string.ascii_lowercase}

In [13]:
for letter in string.ascii_lowercase:
    for char in zeile0:
        if char == letter:
            zeile0_count[letter] += 1

In [15]:
df_char_count = pd.DataFrame.from_dict(zeile0_count, orient='index', dtype=None, columns=None)
df_char_count.head()

   0
a  1
b  0
c  0
d  1
e  3

In [22]:
def char_counter(df):
    size = len(df)
    row_list = []
    
    for i in range(size):
        row_list.append('zeile_' + str(i))
        row_list[i] = df.iloc[i].to_list()
        
    return row_list

In [23]:
a = char_counter(df)
a

[['i', 'm', 'n', 'a', 'm', 'e', 'n', 'g', 'o', 't', 't', 'e', 's', 'd', 'e'],
 ['s', 'a', 'l', 'l', 'm', 'a', 'e', 'c', 'h', 't', 'i', 'g', 'e', 'n', 'd'],
 ['a', 's', 's', 'c', 'h', 'w', 'e', 'i', 'z', 'e', 'r', 'v', 'o', 'l', 'k'],
 ['u', 'n', 'd', 'd', 'i', 'e', 'k', 'a', 'n', 't', 'o', 'n', 'e', 'i', 'n'],
 ['d', 'e', 'r', 'v', 'e', 'r', 'a', 'n', 't', 'w', 'o', 'r', 't', 'u', 'n'],
 ['g', 'g', 'e', 'g', 'e', 'n', 'u', 'e', 'b', 'e', 'r', 'd', 'e', 'r', 's'],
 ['c', 'h', 'o', 'e', 'p', 'f', 'u', 'n', 'g', 'i', 'm', 'b', 'e', 's', 't'],
 ['r', 'e', 'b', 'e', 'n', 'd', 'e', 'n', 'b', 'u', 'n', 'd', 'z', 'u', 'e'],
 ['r', 'n', 'e', 'u', 'e', 'r', 'n', 'u', 'm', 'f', 'r', 'e', 'i', 'h', 'e'],
 ['i', 't', 'u', 'n', 'd', 'd', 'e', 'm', 'o', 'k', 'r', 'a', 't', 'i', 'e'],
 ['u', 'n', 'a', 'b', 'h', 'a', 'e', 'n', 'g', 'i', 'g', 'k', 'e', 'i', 't'],
 ['u', 'n', 'd', 'f', 'r', 'i', 'e', 'd', 'e', 'n', 'i', 'n', 's', 'o', 'l'],
 ['i', 'd', 'a', 'r', 'i', 't', 'a', 'e', 't', 'u', 'n', 'd', 'o', 'f', 'f'],
 ['e', 'n', 'h', 'e', 'i', 't', 'g', 'e', 'g', 'e', 'n', 'u', 'e', 'b', 'e'],
 ['r', 'd', 'e', 'r', 'w', 'e', 'l', 't', 'z', 'u', 's', 't', 'a', 'e', 'r'],
 ['k', 'e', 'n', 'i', 'm', 'w', 'i', 'l', 'l', 'e', 'n', 'i', 'n', 'g', 'e'],
 ['g', 'e', 'n', 's', 'e', 'i', 't', 'i', 'g', 'e', 'r', 'r', 'u', 'e', 'c'],
 ['k', 's', 'i', 'c', 'h', 't', 'n', 'a', 'h', 'm', 'e', 'u', 'n', 'd', 'a'],
 ['c', 'h', 't', 'u', 'n', 'g', 'i', 'h', 'r', 'e', 'v', 'i', 'e', 'l', 'f'],
 ['a', 'l', 't', 'i', 'n', 'd', 'e', 'r', 'e', 'i', 'n', 'h', 'e', 'i', 't'],
 ['z', 'u', 'l', 'e', 'b', 'e', 'n', 'i', 'm', 'b', 'e', 'w', 'u', 's', 's'],
 ['t', 's', 'e', 'i', 'n', 'd', 'e', 'r', 'g', 'e', 'm', 'e', 'i', 'n', 's'],
 ['a', 'm', 'e', 'n', 'e', 'r', 'r', 'u', 'n', 'g', 'e', 'n', 's', 'c', 'h'],
 ['a', 'f', 't', 'e', 'n', 'u', 'n', 'd', 'd', 'e', 'r', 'v', 'e', 'r', 'a'],
 ['n', 't', 'w', 'o', 'r', 't', 'u', 'n', 'g', 'g', 'e', 'g', 'e', 'n', 'u'],
 ['e', 'b', 'e', 'r', 'd', 'e', 'n', 'k', 'u', 'e', 'n', 'f', 't', 'i', 'g'],
 ['e', 'n', 'g', 'e', 'n', 'e', 'r', 'a', 't', 'i', 'o', 'n', 'e', 'n', 'g'],
 ['e', 'w', 'i', 's', 's', 'd', 'a', 's', 's', 'f', 'r', 'e', 'i', 'n', 'u'],
 ['r', 'i', 's', 't', 'w', 'e', 'r', 's', 'e', 'i', 'n', 'e', 'f', 'r', 'e'],
 ['i', 'h', 'e', 'i', 't', 'g', 'e', 'b', 'r', 'a', 'u', 'c', 'h', 't', 'u'],
 ['n', 'd', 'd', 'a', 's', 's', 'd', 'i', 'e', 's', 't', 'a', 'e', 'r', 'k'],
 ['e', 'd', 'e', 's', 'v', 'o', 'l', 'k', 'e', 's', 's', 'i', 'c', 'h', 'm'],
 ['i', 's', 's', 't', 'a', 'm', 'w', 'o', 'h', 'l', 'd', 'e', 'r', 's', 'c'],
 ['h', 'w', 'a', 'c', 'h', 'e', 'n', 'g', 'e', 'b', 'e', 'n', 's', 'i', 'c'],
 ['h', 'f', 'o', 'l', 'g', 'e', 'n', 'd', 'e', 'v', 'e', 'r', 'f', 'a', 's'],
 ['s',
  'u',
  'n',
  'g',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None]]